In [1]:
pip install kafka-python

Requirement already satisfied: kafka-python in /opt/anaconda3/lib/python3.9/site-packages (2.0.2)
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [11]:
producer = KafkaProducer(bootstrap_servers=['44.204.65.140:9092'], #change ip here
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [28]:
# producer.send('datawizards2', value={'kalyan':'vikkurthi'})

In [29]:
# producer.send('datawizards2', value={'Big Data':'Class'})

In [12]:
df = pd.read_csv("/Users/kalyanvikkurthi/Downloads/SJSU/SEM 2/BIG DATA/project/kafkaproject-virginia/Downloaded data_EIA.csv")

In [13]:
df.head()

,period,respondent,respondent-name,type,type-name,value,value-units
0,2023-02-08T00,NE,New England,DF,Day-ahead demand forecast,16750.0,megawatthours
1,2023-02-08T00,SWPP,Southwest Power Pool,DF,Day-ahead demand forecast,33502.0,megawatthours
2,2023-02-08T00,SE,Southeast,DF,Day-ahead demand forecast,24202.0,megawatthours
3,2023-02-08T00,TEN,Tennessee,DF,Day-ahead demand forecast,17891.0,megawatthours
4,2023-02-08T00,SOCO,"Southern Company Services, Inc. - Trans",DF,Day-ahead demand forecast,24202.0,megawatthours

In [14]:
df = df.sample(100)

In [15]:
df.head()

,period,respondent,respondent-name,type,type-name,value,value-units
219158,2023-01-07T01,BANC,Balancing Authority of Northern California,DF,Day-ahead demand forecast,2019.0,megawatthours
204815,2023-01-09T03,TEC,Tampa Electric Company,TI,Total interchange,23.0,megawatthours
151544,2023-01-16T22,AZPS,Arizona Public Service Company,TI,Total interchange,-632.0,megawatthours
198203,2023-01-10T02,TIDC,Turlock Irrigation District,D,Demand,324.0,megawatthours
116617,2023-01-22T00,DEAA,"Arlington Valley, LLC",NG,Net generation,-2.0,megawatthours

In [16]:
# EIA = df.sample(1).to_dict(orient="records")[0]
# print(EIA)

In [17]:
while True:
    EIA = df.sample(1).to_dict(orient="records")[0]
    producer.send('datawizards2', value=EIA)
    sleep(1)

KeyboardInterrupt:

In [ ]:
producer.flush() #clear data from kafka server